<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179350248819-tbaoe9gik2nohdov7v6r0iin2stkjj3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179350248819-tbaoe9gik2nohdov7v6r0iin2stkjj3q</string>
	<key>API_KEY</key>
	<string>AIzaSyCYL6a9HRcrZaaY6VMjccsxLEDM3qkJ8D8</string>
	<key>GCM_SENDER_ID</key>
	<string>179350248819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.saberkonboi.smileSns</string>
	<key>PROJECT_ID</key>
	<string>smile-sns-c24ef</string>
	<key>STORAGE_BUCKET</key>
	<string>smile-sns-c24ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179350248819:ios:2aab1dd8a8a0c4bd96f906</string>
</dict>
</plist>